<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Smart Attendance</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/static/css/app.css">
    {% block css %} {% endblock%}
  </head>
  <body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %} {% endblock%}
  </body>
</html>
