{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Student Details</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.fullname.label }} {{ form.fullname(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.username.label }} {{ form.username(size=20, class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}